<div class="post-card card">
    <div class="card-header">
       <a href="/post/{{id}}" class="text-white">
       <h4>{{title}}</h4>
       </a>
    </div>

    <div class="text-content card-body">
        <p class="text-dark-emphasis fs-5">
            {{contents}}
        </p>

        <div>
            {{!-- â° if comments exist --}}
            {{!-- {{#if comments}} --}}
            {{#each comments as |comment|}}
            {{> comment-card}}
            {{/each}}
            {{!-- {{/if}} --}}
        </div>

    </div>

    <div class="text-content card-footer">
        <p class="text-muted fs-6">
            Posted on
            {{format_date createdAt}}
            By
            {{User.username}}
        </p>
    </div>

</div>