<div class="post-card card mt-4">
    <div class="card-header">
        <a href="/post/{{id}}" class="text-white">
            <h4>{{title}}</h4>
        </a>
    </div>

    <div class="text-content card-body">
        <p class="text-dark-emphasis fs-5">
            {{contents}}
        </p>

    </div>

    <div class="text-content card-footer">
        <p class="text-muted fs-6">
            Posted on
            {{format_date createdAt}}
            {{!-- By
            {{user.username}} --}}
        </p>
    </div>

</div>